.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.grid {
    width: 100%;
    max-width: 600px;
}

#hr_div {
    height: 3px !important;
    background-color: rgb(0, 191, 255);
    border-radius: 10px;
    border: 1px solid rgb(0, 191, 255);
    margin-bottom: 10px;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

ul li {
    display: inline !important;
    margin: 4px;

}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

ul li :hover {
    transition: 0.8s;
    color: rgb(255, 0, 191);
    font-weight: 600;
}

#learn-more-container {
    width: 80%;
    margin: auto;
}

#learn-more-project-title {
    text-align: center;
    color: #333;
}

#learn-more-contact-info {
    text-align: center;
    margin-bottom: 50px;
}

.learn-more-page-description {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.learn-more-page-description h2 {
    color: #444;
}

.learn-more-page-description p {
    color: #666;
}

#all_courses_form {
    overflow: auto;
    height: 300px !important;
}


#developer{
    text-decoration: none;
    color: black;
    font-weight: 400;
}