.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.grid {
    width: 100%;
    max-width: 600px;
}

#hr_div {
    height: 3px !important;
    background-color: rgb(0, 191, 255);
    border-radius: 10px;
    border: 1px solid rgb(0, 191, 255);
    margin-bottom: 10px;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

ul li {
    display: inline !important;
    margin: 4px;

}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

ul li :hover {
    transition: 0.8s;
    color: rgb(255, 0, 191);
    font-weight: 600;
}

#learn-more-container {
    width: 80%;
    margin: auto;
}

#learn-more-project-title {
    text-align: center;
    color: #333;
}

#learn-more-contact-info {
    text-align: center;
    margin-bottom: 50px;
}

.learn-more-page-description {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.learn-more-page-description h2 {
    color: #444;
}

.learn-more-page-description p {
    color: #666;
}

#all_courses_form {
    overflow: auto;
    height: 300px !important;
}


#developer {
    text-decoration: none;
    color: black;
    font-weight: 400;
}


.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}


#prof_in_limit_page{
    text-decoration: none;
    color: white;
}
#prof_in_limit_page:hover{
    transition: 0.8s;
    color: rgb(255, 0, 0);
}


#acceptable_penalty_div {
    display: none;
}