{% extends "base.html" %}
{% block page_body %}

<div class="container p-lg-5">
    <div class="row">
        <div class="col-12 col-lg">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Course</th>
                        <th>Unit</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ course.course }}</td>
                        <td>{{ course.unit}}</td>
                        <td>
                            <a href="{% url 'delete_course' course.id course.course %}" class="btn btn-danger m-1">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-lg">
            <h3>Add Course</h3>
            <hr>
            <form method="POST" action="{% url 'add_course' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="course_name" class="form-label">Course name</label>
                    <input type="text" class="form-control" id="course_name" name="course_name" aria-describedby="courseHelp" required>
                </div>
                <div class="mb-3">
                    <label for="Course_unit" class="form-label">Unit</label>
                    <select id="Course_unit" name="Course_unit" class="form-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <h3>Update a Unit</h3>
            <hr>
            <form method="POST" action="{% url 'update_unit' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="course_id" class="form-label">Course name</label>
                    <select id="course_id" name="course_id" class="form-select">
                        {% for course in courses %}
                            <option value={{ course.id }}>{{ course.course }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="Course_unit" class="form-label">Unit</label>
                    <select id="Course_unit" name="Course_unit" class="form-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <h3>Add Group For a Course</h3>
            <hr>
            <form method="POST" action="{% url 'add_group' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="course_id" class="form-label">Course name</label>
                    <select id="course_id" name="course_id" class="form-select">
                        {% for course in courses %}
                            <option value={{ course.id }}>{{ course.course }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="Course_goup_number" class="form-label">Course goup number</label>
                    <input type="text" class="form-control" id="Course_goup_number" name="Course_goup_number" aria-describedby="courseHelp" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>


{% endblock %}