{% extends "base.html" %} {% block page_title %} Scheduler {% endblock %}
{%block page_body %} {% if courses %}
<div class="main-up mycontainer">
    <h1>Scheduler</h1>
    <form action="#" id="all_courses_form">
        {% csrf_token %}
        <div class="table-main">
            <div class="table-main-header">
                <p>
                    <input
                        class="form-check-input"
                        type="checkbox"
                        id="checkAll"
                        value="false"
                    />
                </p>
                <p>Courses</p>
                <p>Professor</p>
            </div>
            <div class="table-main-body">
                {% for course in courses %}
                <div class="table-main-body--item">
                    <div>
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                id="course_{{ course.id }}"
                                name="selected_courses"
                                value="{{ course.course }}"
                            />
                            <label
                                class="form-check-label"
                                for="course_{{ course.id }}"
                            ></label>
                        </div>
                    </div>
                    <p>{{ course.course }}</p>
                    <p>{{ course.professor }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </form>
</div>

<div class="main-down">
    <div class="mycontainer container-cond">
        <div class="mt-3 mb-3">
            <h2 for="courses_with_out_conditions">
                Courses With Out Condition
            </h2>
            <p class="hint-text">sample: fizik_1-riazi_2-assembly</p>
            <input
                type="text"
                name="courses_with_out_conditions"
                id="courses_with_out_conditions"
                class="form-control"
            />
        </div>
    </div>
    <div class="mycontainer">
        <div class="mt-s mb-3">
            <h4 for="chromosomes">Random Solutions</h4>
            <input
                type="number"
                id="chromosomes"
                name="chromosomes"
                min="1"
                value="6000"
                class="form-control"
            />
        </div>

        <div class="mt-s mb-3">
            <h4 for="penalty_chromosomes">
                Random Solutions for penalty genetic algorithm
            </h4>
            <input
                type="number"
                id="penalty_chromosomes"
                name="penalty_chromosomes"
                min="1"
                value="20000"
                class="form-control"
            />
        </div>
        <br />
        <div class="lds-facebook d-none">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <button type="button" class="btn btn-success" id="get-data-btn">
            Schedule
        </button>
    </div>
</div>
{% else %}
<div class="container p-5">
    <div class="text-danger">
        <b>
            step 1) Go to the courses page and add some course.
            <br />
            step 2) Go to the professors Page and add some professor.
            <br />
            step 3) Go to the pre requirements page and link courses.
            <br />
            step 4) Come back here.
        </b>
    </div>
</div>
{% endif %}

<br />
<br />
<br />
<br />
{% endblock %}
