{% extends "base.html" %}
{% block page_body %}

<div class="p-5 alert alert-info shadow-lg position-relative">
    <h1 class="fs-3 fw-bold text-dark">Scheduler Application</h1>
    <p class="text-dark">This is a simple scheduler application made with Python.</p>
    <button type="button" class="btn btn-light position-absolute bottom-0 end-0 translate-middle">Learn more</button>
</div>

{% if courses %}
<div class="container">
    <form action="#">
        {% csrf_token %}
        {% for course in courses %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="course_{{ course.id }}" name="selected_courses"
                value="{{ course.course }}">
            <label class="form-check-label" for="course_{{ course.id }}">
                {{ course.course }}
            </label>
        </div>
        {% endfor %}
    </form>

    <button type="button" class="btn btn-primary" onclick="getSelectedCourses()">Get Selected Courses</button>
    <br>
    <br>
    <h3>Link Professor to Course</h3>
    <form id="selectedCoursesForm">
        <div class="row">
            <div class="col">
                <label for="selectedCourses">Courses</label>
                <select class="form-select" id="selectedCourses" aria-label="Default select example"></select>
            </div>
            <div class="col">
                <label for="Professors">Professors</label>
                <select name="selected_professor" id="Professors" class="form-select">
                    {% for prof in professors %}
                        <option value="{{ prof.name }}">{{ prof.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-dark mt-3" onclick="addRow()">Link Course to Professor</button>
    </form>

    <table id="linkedcoursesTable" class="table">
        <thead>
            <tr>
                <th>Course</th>
                <th>Professor</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be dynamically added here -->
        </tbody>
    </table>
    <br>
    <br>
    
    <br>
    <h3>Limit Professors Time</h3>
    <form id="limit_professors">
        <div class="row">
            <div class="col">
                <label for="select_prof_for_limit">Professors</label>
                <select name="select_prof_for_limit" id="select_prof_for_limit" class="form-select">
                    {% for prof in professors %}
                        <option value="{{ prof.name }}">{{ prof.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="select_time_for_limit">Time</label>
                <select class="form-select" id="select_time_for_limit" aria-label="Default select example">
                    <option value="shanbe">shanbe</option>
                    <option value="1 shanbe">1 shanbe</option>
                    <option value="2 shanbe">2 shanbe</option>
                    <option value="3 shanbe">3 shanbe</option>
                    <option value="4 shanbe">4 shanbe</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-dark mt-3" onclick="addRow_limit_prof()">Limit Professor</button>
    </form>

    <table id="limited_professors" class="table">
        <thead>
            <tr>
                <th>Professor</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be dynamically added here -->
        </tbody>
    </table>
    <button type="button" class="btn btn-success" id="get-data-btn" class="btn btn-primary">Schedule</button>
</div>
{% endif %}

<div class="links">
    <div class="grid gap-3">
        <div class="row">
            <div class="col p-2">
                <a href="#" class="btn btn-primary btn-lg w-75">Professors</a>
            </div>
            <div class="col p-2">
                <a href="#" class="btn btn-primary btn-lg w-75">Courses</a>
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                <a href="#" class="btn btn-primary btn-lg w-75">Pre Requirements</a>
            </div>
            <div class="col p-2">
                <a href="#" class="btn btn-primary btn-lg w-75">Schedule</a>
            </div>
        </div>
    </div>
</div>

<script>
</script>
{% endblock %}