{% extends "base.html" %}
{% block page_title %} Learn More {% endblock %}

{% block page_body %}

<div class="main-up">
    <h1 id="learn-more-project-title">University Course Scheduler</h1>
    <p id="learn-more-contact-info">You can contact me via email at <a
        href="mailto:momeni.mpost@gmail.com">momeni.mpost@gmail.com</a> or call me at +98 930 824 6404.</p>
    <div class="learn-more">

    
    <div class="learn-more-page-description">
        <h2>Scheduler Page</h2>
        <p>This page allows you to select courses and connect them to the professors to create a schedule.</p>
    </div>

    <div class="learn-more-page-description">
        <h2>Courses Page</h2>
        <p>This page allows you to add and remove courses.</p>
    </div>
    
    <div class="learn-more-page-description">
        <h2>Professors Page</h2>
        <p>This page allows you to add and remove professors names.</p>
    </div>

    <div class="learn-more-page-description">
        <h2>Link Course To Professor</h2>
        <p>This page allows you to link a course to a professor.</p>
    </div>

    <div class="learn-more-page-description">
        <h2>Professors Time Limit</h2>
        <p>This page allows you to add and remove professors time limits.</p>
    </div>

    <div class="learn-more-page-description">
        <h2>Pre Requirements Page</h2>
        <p>This page allows you to link courses together based on their prerequisites.</p>
    </div>
</div>
</div>

{% endblock %}