{% extends "base.html" %}
{% block page_body %}

<style>
    #learn-more-container {
        width: 80%;
        margin: auto;
    }

    #learn-more-project-title {
        text-align: center;
        color: #333;
    }

    #learn-more-contact-info {
        text-align: center;
        margin-bottom: 50px;
    }

    .learn-more-page-description {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        padding: 20px;
        margin-bottom: 20px;
    }

    .learn-more-page-description h2 {
        color: #444;
    }

    .learn-more-page-description p {
        color: #666;
    }
</style>

<div id="learn-more-container">
    <h1 id="learn-more-project-title">University Course Scheduler</h1>
    <p id="learn-more-contact-info">You can contact me via email at <a
            href="mailto:momeni.mpost@gmail.com">momeni.mpost@gmail.com</a> or call me at +98 930 824 6404.</p>
    
            <div class="learn-more-page-description">
        <h2>Scheduler Page</h2>
        <p>This page allows you to select courses and connect them to the professors to create a schedule.</p>
    </div>

    <div class="learn-more-page-description">
        <h2>Courses Page</h2>
        <p>This page allows you to add and remove courses.</p>
    </div>

    <div class="learn-more-page-description">
        <h2>Professors Page</h2>
        <p>This page allows you to add and remove professors names.</p>
    </div>

    <div class="learn-more-page-description">
        <h2>Pre Requirements Page</h2>
        <p>This page allows you to link courses together based on their prerequisites.</p>
    </div>
</div>





{% endblock %}