{% extends "base.html" %}
{% block page_body %}
<div class="container p-lg-5">
    <div class="row">
        {% if professors %}
        <div class="col-12 col-lg">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Professor</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for professor in professors %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ professor.name }}</td>
                        <td>
                            <a href="{% url 'delete_professor' professor.id %}" class="btn btn-danger m-1">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <div class="col-12 col-lg">
            <h3>Add Professor</h3>
            <hr>
            <form method="POST" action="{% url 'add_professor' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="professor_name" class="form-label">Professor name</label>
                    <input type="text" class="form-control" id="professor_name" name="professor_name" aria-describedby="professor name" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}