{% extends "base.html" %}
{% block page_title %} Schedule {% endblock %}
{% block page_body %}

<div class="main-up">
    <!-- <div class="table-heading"> -->
        <!-- <h1>Professors Time Limits</h1> -->
    <!-- </div> -->
    <div class="table-main-header table-week">
        <p>Day/Time</p>
        <p>8:30</p>
        <p>10:30</p>
        <p>13:30</p>
        <p>15:30</p>
        <p>17:30</p>
    </div>
    <form action="#" id="all_courses_form">
        {% csrf_token %}
        <div class="table-main">
            <div class="table-main-body table-main-body-full">
                {% for day, timeslots in schedule.items %}
                <div class="table-main-body--item table-week table-week--item">
                    <b>{{day}}</b>
                    {% for time, courses in timeslots.items %}

                        <p class="table-week--item-course">{{ courses|join:"<br> " }}</p>
                    {% endfor %}
                </p>
                    
                    
                </div>
                <hr/>
                {% endfor %}
            </div>
        </div>
    </form>
</div>

{% if lessons_with_no_time %}
<div class="main-up">
    <div class="table-heading">
        <h1>Lessons With no Times</h1>
    </div>
    <br>
    <div>
        {% for item in lessons_with_no_time %}
        <span class="lessons-with-no-times">
            {{ item }}
        </span>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="main-up">
    <!-- <div class="table-heading"> -->
        <!-- <h1>Professors Time Limits</h1> -->
    <!-- </div> -->
    <div class="table-main-header table-week">
        <p>Day/Time</p>
        <p>8:30</p>
        <p>10:30</p>
        <p>13:30</p>
        <p>15:30</p>
        <p>17:30</p>
    </div>
    <form action="#" id="all_courses_form">
        {% csrf_token %}
        <div class="table-main">
            <div class="table-main-body table-main-body-full">
                {% for day, timeslots in clear_penalty_schedule.items %}
                <div class="table-main-body--item table-week table-week--item">
                    <b>{{day}}</b>
                    {% for time, courses in timeslots.items %}
                        <p class="table-week--item-course">{{ courses|join:"<br> " }}</p>
                    {% endfor %}
                </p>
                </div>
                <hr/>
                {% endfor %}
            </div>
        </div>
    </form>
</div>
{% endblock %}